git+https://github.com/rongardF/tvdatafeed.git
TA_Lib @ file:///${PWD}/TA_Lib-0.4.29-cp311-cp311-win_amd64.whl
streamlit
pandas
numpy
matplotlib
seaborn
mplfinance
statsmodels
xgboost
scikit-learn
optuna
shap
plotly
backtesting
ipython