git+https://github.com/rongardF/tvdatafeed.git
TA-Lib==0.4.30
streamlit
streamlit-option-menu
pandas
numpy
matplotlib
seaborn
mplfinance
statsmodels
xgboost
scikit-learn
optuna
shap
plotly
backtesting
ipython
