git+https://github.com/rongardF/tvdatafeed.git
#ta-lib-bin
numpy==1.26.3
pandas-ta
streamlit
streamlit-option-menu
pandas
matplotlib
seaborn
mplfinance
statsmodels
xgboost
scikit-learn
optuna
shap
plotly
backtesting
ipython
gunicorn